:root {
	--background-color: #121212;

	--surface-color: #222222;
	--surface-color-2: #353535;
	--on-surface: #cdcdcd;

	--primary-color: #552b77;
	--primary-color-highlighted: #6b3696;
}

body {
	margin: 3rem;
	margin-top: 8rem;
	background-color: var(--background-color);
	color: var(--on-surface);
	font-family: "roboto";
}

a {
	color: var(--on-surface);
	text-decoration: none;
}

.pixel-art {
	image-rendering: pixelated;
}

.container {
	margin: auto;
}

.basic-link {
	text-decoration: underline;
	font-weight: bold;
}

.codeblock {
	font-family: Monaco, monospace;
	background-color: #351b4b;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: 0.5rem 0rem;
}

/* header */

.main-header {
	font-weight: bold;
	position: fixed;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--surface-color-2);
	border-radius: 1rem;
	z-index: 2;
}

.logo-and-name {
	display: flex;
	justify-content: left;
}

.logo {
	width: 3rem;
	height: 3rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.name {
	font-size: 1rem;
	color: var(--on-surface);
	line-height: 1.5rem;
}

.highlight-item {
	background-color: var(--primary-color);
	color: var(--on-surface);
}

.navigation-bar-item {
	font-family: "roboto";
	text-align: center;
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.open-menu-button, .close-menu-button {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	cursor: pointer;
}

.close-menu-button-container {
	display: flex;
	justify-content: right;
}

@media only screen and (min-width: 50rem) {
	.navigation-bar {
		all: initial;
	}

	.navigation-bar-list {
		all: initial;
		display: flex;
	}

	.navigation-bar-item {
		margin: 0rem;
		margin-top: 0.25rem;
		margin-right: 1rem;
		padding: 0.5rem;
	}

	.open-menu-button, .close-menu-button {
		display: none;
	}
}

@media only screen and (max-width: 50rem) {
	.navigation-bar {
		all: initial;
		display: none;
		position: fixed;
		top: 1rem;
		left: 1rem;
		right: 1rem;
		padding: 1rem;
		background-color: var(--surface-color-2);
		border-radius: 1rem;
	}
	
	.navigation-bar-list {
		all: initial;
		flex-grow: 1;
		justify-content: center;
	}
}

/* footer */

.go-to-top {
	margin: auto;
	padding: 2rem;
	/* background-color: var(--surface-color); */
}

.go-to-top-button {
	text-align: center;
	margin: auto;
	background-color: var(--primary-color);
	padding: 0.75rem;
	width: 4rem;
	border-radius: 10rem;
	cursor: pointer;
}

@media only screen and (min-width: 34rem) {
	.container {
		width: 30rem;
	}
}

@media only screen and (min-width: 60rem) {
	.container {
		width: 60rem;
	}
}
