:root {
	--background-color: #121212;
	--surface-color: #222222;
	--surface-color-2: #3b3b3b;
	--on-surface: #cdcdcd;
	/* --primary-color-1: #37306B; */
    --primary-color-1: #66347F;
    --primary-color-2: #9E4784;
    --primary-color-4: #D27685;
    --tmp-1: #15ff00;
    --tmp-2: #ff3300;
}

html, body {
    background-color: var(--background-color);
    color: var(--on-surface);
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    height: 100%;
}

a {
	color: var(--on-surface);
	text-decoration: none;
}

@media only screen and (min-width: 30rem) {
	html, body {
        /* background-color: var(--background-color); */
        /* background-color: var(--tmp-2); */
        color: var(--on-surface);
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        height: 100%;
        width: 30rem;
    }
}

.screen {
    /* background-color: var(--tmp-1); */
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.header {
    margin: 1em;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color-1);
}

.menu {
    margin: 1em;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--surface-color);
    display: flex;
    justify-content: space-between;
}